### Lists

Lists is a data type in python. It is used to store single or multiple values. Values can be int, float, string etc.;

`For Example:`

In [1]:
courses = ['History','Math','physics','CompSci']

print(courses)

['History', 'Math', 'physics', 'CompSci']

You can print lenght of the list and can slice it by using indexes

In [2]:
print(len(courses))

4

In [4]:
print(courses[0])

History

In [5]:
print(courses[3])

CompSci

In [6]:
print(courses[-1])

CompSci

In the above example `print(courses[-1])` is equal to `print(courses[3])`. If you want to slice it by end of the list, you can use negative indexing.

#### Append

we can append not just element but also another list.

In [7]:
courses = ['History','Math','physics','CompSci']

courses.append('Social')

print(courses)

['History', 'Math', 'physics', 'CompSci', 'Social']

"__append__" method adds an element to the current list at the end.

### Insert

You can "__insert__" a list in a particular index or location.

In [8]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']

courses.insert(2,'English')

print(courses)

['Tel', 'Hin', 'English', 'Math', 'Sci', 'Soc']

In [9]:
courses = ['Tel', 'Hin', "Eng"]

spc_courses = ['Math', 'Sci',"Social"]

courses.insert(3, spc_courses)

print(courses)

['Tel', 'Hin', 'Eng', ['Math', 'Sci', 'Social']]

The entire list of spc_courses is fitted into "index 3" of the courses

In [10]:
courses = ['Tel', 'Hin', "Eng"]

spc_courses = ['Math', 'Sci',"Social"]

courses.insert(3, spc_courses)

print(courses[3])

['Math', 'Sci', 'Social']

In [14]:
courses = ['Tel', 'Hin', "Eng"]

spc_courses = ['Math', 'Sci',"Social"]

courses.append(spc_courses)

print(courses)

print("\n")

print(courses[3])

['Tel', 'Hin', 'Eng', ['Math', 'Sci', 'Social']]


['Math', 'Sci', 'Social']

### Pop 

To remove the element from the list we can use pop method. It will remove the last element of the list and gives the popped element as output.

In [20]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']

popped = courses.pop()

print(popped)

Soc

### Remove 

We can specify which element we should remove in the list by using the remove method

In [19]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']

courses.remove(courses[4])

courses.remove('Sci')

print(courses)

['Tel', 'Hin', 'Math']

### Reverse method

Reverse method is used to reverse the list

In [21]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']

courses.reverse()

print(courses)

['Soc', 'Sci', 'Math', 'Hin', 'Tel']

### Sorting

This will sort the list in the alphabetical order for letters and ascending order for numbers

In [24]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']

courses.sort()

print(courses)

['Hin', 'Math', 'Sci', 'Soc', 'Tel']

In [23]:
nums = [1,3,4,5,2]

nums.sort()

print(nums)

[1, 2, 3, 4, 5]

__We can also sort the list in the reverse order__

`For Example`

In [25]:
nums = [1,3,4,5,2]

nums.sort(reverse=True)

print(nums)

[5, 4, 3, 2, 1]

In the sort method, the given list is sorted and the initial unsorted list is overwritten

### Sorted

This method will sort the list but, it will not overwrite the list. So after sorting the list to reflect the changes we should store it in the variable.

Sorted function can be used to generate the new list which is sorted without disturbing the existing list.

In [27]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']

sorted(courses)

print(courses)

courses2 = sorted(courses)

print("\n")

print(courses2)

['Tel', 'Hin', 'Math', 'Sci', 'Soc']


['Hin', 'Math', 'Sci', 'Soc', 'Tel']

### Min , Max, Sum

In [28]:
nums = [1,3,4,5,2]

print("Minimum number in the list: ", min(nums))

print("\n")

print("Max number in the list: ", max(nums))
      
print("\n")
      
print("Sum of the numbers in the list: ", sum(nums))

Minimum number in the list:  1


Max number in the list:  5


Sum of the numbers in the list:  15

### Know the index of the element

If you want know the index of the element within the list you can use `index` method

In [29]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']

print(courses.index("Sci"))

3

### Checking the elements present in the list

In [30]:
courses = ['Tel','Hin','Math', 'Sci', 'Soc']


print('Art' in courses)

print("\n")

print("Soc" in courses)

False


True